body {
	font-family: monospace;
}

#id {
	background-color: black;
	color: white;
}
.side {
	height: 100%; 
	width: 160px;
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: grey; 
	overflow-x: hidden; 
	padding-top: 20px;
}
.score {
	width: 100%;
    position: absolute;
    color: black;
    /*text-align: center;*/
    pointer-events: none;
    //pointer events no false.
}
.window {
	position: relative;
	margin: auto;
	width: 200px;
	height: 300px;
	border: 2px solid black;
}
.screen {
	position: relative;
	background-color: grey;
	width: 200px;
	height: 200px;
	margin: auto;
	cursor: none;
}

@keyframes moving {
	0% {left: 1%; top: 1%;}
	50% {left: 2%; top: 3%;}
	100% {left: 5%; top: 2%;}
}

.square {
  position: relative;
  left: 10%;
  top: 10%;
  width: 30px;
  height: 30px;
  border: 3px solid black;
  background-color: black;
  cursor: crosshair;
  /*cursor: url(.\Solo-Project\Hand.crs), auto;*/
}
.stop {
	pointer-events: none; /*stop pointer*/
}

/*Buttons*/

#left {
	float: left;
}
#right {
	float: right;
}

.restart {
	float: left;
    position: relative;
    margin-top: 10px;
}

.pause {
	float: right;
	position: relative;
    margin-top: 10px;
}